**
!Gemfile
!Gemfile.lock
!Rakefile
!config.ru
!.ruby-version
!.node-version
!.npmrc
!.rspec
!.simplecov
!.rubocop.yml
!package.json
!package-lock.json
!tsconfig.json
!*config.ts
!eslint.config.js
!app/**
!bin/**
!config/**
!db/**
!lib/**
!public/**
!spec/**
!branding/assets/logo/umanni-horizontal.svg
!branding/assets/fonts/montserrat-variable.ttf
!branding/assets/fonts/roboto-variable.ttf
config/master.key
config/credentials*
config/credentials/**
config/vite-digest
public/vite*/**
