POSTGRES_USER=umanni
POSTGRES_PASSWORD=umanni-local
DATABASE_URL=postgresql://umanni:umanni-local@db:5432/umanni_development
DELIVERY_DATABASE_URL=postgresql://umanni:umanni-local@db:5432/umanni_production
SECRET_KEY_BASE=
